body.light {
  background-color: #e3e3e3;
}

main {
  margin: 40px auto auto auto;
  display: grid;
  border-radius: 20px;
  grid-template-columns: 15px auto 15px;
  grid-template-rows: 15px 85px 12px auto 15px;
  grid-template-areas:
    '. . .'
    '. header .'
    '. . .'
    '. gameboard .'
    '. . .';
}

main.light {
  background-color: #e3e3e3;
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.8),
    12px 12px 12px 0 rgba(0, 0, 0, 0.6);
}

#header {
  grid-area: header;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px 35px;
  grid-template-areas:
    'title'
    'sub-head';
  font-family: sans-serif;
}

#sub-head {
  grid-area: sub-head;
  display: flex;
  justify-content: space-around;
}

#title {
  grid-area: title;
  text-align: center;
  margin: auto;
}

#flag-count {
  text-align: center;
  margin: auto;
  flex-grow: 1;
}

#mine-cat-cage {
  margin: auto;
  flex-grow: 4;
  text-align: center;
}

#mine-cat {
  margin: auto;
  font-size: x-large;
  border: 0;
  border-radius: 8px;
}

#mine-cat.light {
  background-color: #e3e3e3;
  box-shadow: -4px -4px 4px 0 rgba(255, 255, 255, 0.6),
    4px 4px 4px 0 rgba(0, 0, 0, 0.5);
}

#mine-cat.light:hover {
  background-color: #e3e3e3;
  box-shadow: -4px -4px 4px 0 rgba(255, 255, 255, 0.6),
    4px 4px 4px 0 rgba(0, 0, 0, 0.5);
}

#mine-cat.light:active {
  background-color: #c3c3c3;
  box-shadow: -4px -4px 4px 0 rgba(255, 255, 255, 0.6),
    4px 4px 4px rgba(0, 0, 0, 0.5), inset -2px -2px 5px rgba(255, 255, 255, 1),
    inset 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#countdown {
  text-align: center;
  margin: auto;
  flex-grow: 1;
}

#gameboard {
  grid-area: gameboard;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#gameboard.light {
  box-shadow: -4px -4px 4px 0 rgba(255, 255, 255, 0.4),
    4px 4px 4px 0 rgba(0, 0, 0, 0.7);
}

.cell {
  height: 25px;
  width: 25px;
  box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 1),
    inset -2px -2px 5px rgba(0, 0, 0, 0.7);
  border: 0;
  margin: 0;
  line-height: 25px;
  vertical-align: center;
  text-align: center;
  cursor: pointer;
  font-family: sans-serif;
}

.cell.light.revealed {
  cursor: not-allowed;
  box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
    inset 2px 2px 5px rgba(0, 0, 0, 0.4);
  /*background-color: #c3c3c3; */
}

.cell.dark {
  background-color: #3e3e3e;
}

.cell.light {
  background-color: #e3e3e3;
}

/* NUMBERS */

.cell.num1.revealed {
  background-color: #5f9e3d;
}

.cell.num2.revealed {
  background-color: #3c88ad;
}

.cell.num3.revealed {
  background-color: #9340a8;
}

.cell.num4.revealed {
  background-color: #c7ba44;
}

.cell.num5.revealed {
  background-color: #c97e23;
}

.cell.num6.revealed {
  background-color: #c71c33;
}

.cell.num7.revealed {
  background-color: #ac2c5f;
}

.cell.num8.revealed {
  background-color: #888888;
}
