body {
  font-family: lcdmonobold;
}

body.light {
  background-color: #e3e3e3;
}

section#wrapper {
  display: grid;
  margin: auto;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: 40px auto 40px 120px 40px;
  grid-template-areas:
    '. . .'
    '. main .'
    '. . .'
    '. nav .'
    '. . edge';
}

main {
  grid-area: main;
  margin: auto;
  display: grid;
  border-radius: 20px;
  grid-template-columns: 15px auto 15px;
  grid-template-rows: 15px 85px 12px auto 15px;
  grid-template-areas:
    '. . .'
    '. header .'
    '. . .'
    '. gameboard .'
    '. . .';
}

main.light {
  background-color: #e3e3e3;
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.8),
    12px 12px 12px 0 rgba(0, 0, 0, 0.6);
}

#header {
  grid-area: header;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px 35px;
  grid-template-areas:
    'title'
    'sub-head';
  font-family: sans-serif;
}

#sub-head {
  grid-area: sub-head;
  display: flex;
  justify-content: space-around;
}

#title {
  grid-area: title;
  text-align: center;
  margin: auto;
  font-family: lcdmonobold;
  font-size: 40px;
}

#flag-count {
  text-align: center;
  margin: auto;
  flex-grow: 1;
  font-family: lcdmonobold;
  font-size: x-large;
  color: #e3e3e3;
  text-shadow: 0 0 2px #000, 0 0 10px #fc1f2c75, 0 0 5px #fc1f2c75,
    2px 2px 25px #851e2575;
}

#mine-cat-cage {
  margin: auto;
  flex-grow: 4;
  text-align: center;
}

#mine-cat {
  margin: auto;
  font-size: x-large;
  border: 0;
  border-radius: 8px;
}

#mine-cat.light {
  background-color: #e3e3e3;
  box-shadow: -4px -4px 4px 0 rgba(255, 255, 255, 0.6),
    4px 4px 4px 0 rgba(0, 0, 0, 0.5);
}

#mine-cat.light:hover {
  background-color: #f3f3f3;
}

#mine-cat.light:active {
  background-color: #c3c3c3;
  box-shadow: -4px -4px 4px 0 rgba(255, 255, 255, 0.6),
    4px 4px 4px rgba(0, 0, 0, 0.5), inset -2px -2px 5px rgba(255, 255, 255, 1),
    inset 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#time {
  text-align: center;
  margin: auto;
  flex-grow: 1;
  font-family: lcdmonobold;
  font-size: x-large;
  color: #e3e3e3;
  text-shadow: 0 0 2px #000, 0 0 10px #fc1f2c75, 0 0 5px #fc1f2c75,
    2px 2px 25px #851e2575;
}

#gameboard {
  grid-area: gameboard;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#gameboard.light {
  box-shadow: -4px -4px 4px 0 rgba(255, 255, 255, 0.4),
    4px 4px 4px 0 rgba(0, 0, 0, 0.7);
}

#edge {
  grid-area: edge;
}

.cell {
  height: 25px;
  width: 25px;
  box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 1),
    inset -2px -2px 5px rgba(0, 0, 0, 0.7);
  border: 0;
  margin: 0;
  line-height: 25px;
  vertical-align: center;
  text-align: center;
  cursor: pointer;
  font-family: sans-serif;
}

.cell.dark {
  background-color: #3e3e3e;
}

.cell.light {
  background-color: #e3e3e3;
}

.cell.light:hover {
  background-color: #f3f3f3;
}

.cell.light.revealed {
  cursor: not-allowed;
  box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
    inset 2px 2px 5px rgba(0, 0, 0, 0.4);
  background-color: #c3c3c3;
}
.cell.light.revealed:hover {
  background-color: #c3c3c3;
}

/* NUMBERS */

.cell.light.num1.revealed {
  background-color: #f2acab;
}

.cell.light.num2.revealed {
  background-color: #ec8382;
}

.cell.light.num3.revealed {
  background-color: #e65958;
}

.cell.light.num4.revealed {
  background-color: #e0302e;
}

.cell.light.num5.revealed {
  background-color: #dd1c1a;
}

.cell.light.num6.revealed {
  background-color: #c91a18;
}

.cell.light.num7.revealed {
  background-color: #b51716;
}

.cell.light.num8.revealed {
  background-color: #a11513;
}

/* NAV */

nav {
  grid-area: nav;
  margin: auto;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  background-color: #e3e3e3;
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.8),
    12px 12px 12px 0 rgba(0, 0, 0, 0.6);
  width: 480px;
  height: 70px;
  flex-wrap: nowrap;
}

nav.light {
}

button#light-dark {
  background-color: transparent;
  border: 0;
}
